.compensation {
  color: $color_Black;
  padding: 77px 0 85px 0;
  &-text {
    h1 {
      @include text-title-h1;
    }
    p {
      @include text-regular-18;
      margin: 0 0 40px 0;
    }
    button {
      @include text-regular-18;
      background-color: $color_Blue;
      color: $color_White;
      max-width: 282px;
      line-height: 48px;
      width: 100%;
      @include btn-outlined;
      box-shadow: 0px 5px 20px rgba(19, 115, 230, 0.25);
    }
  }
}

@media (max-width: $xs-max) {
  .compensation {
    padding: 51px 0 41px 0;
    h1 {
      @include text-title-h1-mobile;
    }
    p {
      @include text-link;
      margin: 0 0 24px 0;
    }
    button {
      max-width: 100%;
    }
    &-image {
      padding: 40px 0 0 0;
    }
  }
}
