.contact-us {
  padding: 100px 0 100px 0;
  .option {
    background-color: $color_Light_Blue;
    color: $color_Black;
    border-radius: 16px;
    &-wrapper {
      padding: 40px 0 40px 40px;
      .title {
        @include text-title-h4;
        margin: 0 0 8px 0;
      }
      p {
        @include text-regular-18;
        margin: 0 0 40px 0;
      }
      button {
        border-radius: 8px;
        border: 0;
        outline: 0;
        background-color: $color_Blue;
        color: $color_White;
        width: 100%;
        line-height: 48px;
        box-shadow: 0px 5px 20px rgba(19, 115, 230, 0.25);
      }
    }
    &.option-2 {
      background-color: $color_Blue;
      .title {
        color: $color_White;
      }
      .contacts {
        .contact {
          text-decoration: none;
          &:first-child {
            margin: 0 0 16px 0;
          }
          i {
            width: 32px;
            height: 32px;
            display: block;
            margin: 0 11px 0 0;
            background-size: cover;
            &.phone {
              background: url("../assets/images/svgicons/phone-option.svg")
                center center no-repeat;
            }
            &.mail {
              background: url("../assets/images/svgicons/mail-option.svg")
                center center no-repeat;
            }
          }
          span {
            @include text-regular-18;
            color: $color_White;
          }
        }
      }
    }
  }
}

@media (max-width: $sm-min) {
  .contact-us {
    padding: 60px 0 60px 0;
    .option {
      &-wrapper {
        padding: 30px 20px 0 20px;
        .title {
          @include text-regular-18;
        }
        p {
          margin: 0 0 24px 0;
        }
      }
      &.option-2 {
        margin: 24px 0 0 0;
        .title {
          margin: 0 0 24px 0;
        }
        .contacts {
          .contact {
            &:first-child {
              margin: 0 0 8px 0;
            }
            span {
              @include text-link;
            }
          }
        }
      }
    }
  }
}
