section.apply-options
    .container-xxl
        .row
            .col-12
                .title Два способа подать заявку
            .col-12.col-lg-6 
                .option
                    .option-wrapper
                        .option-title Зарегистрируйтесь онлайн самостоятельно
                        ul
                            li Регистрируетесь онлайн по номеру телефона
                            li Самостоятельно заполняете заявку на сайте
                            li Ожидаете ответа на заявку в личном кабинете
                        button(type='button') Зарегистрироваться
                    img.img-fluid(src="@img/svgicons/option1.svg" alt="")
            .col-12.col-lg-6 
                .option.option-2
                    .option-wrapper
                        .option-title Зарегистрируйтесь через социального работника
                        ul
                            li Выбираете удобную для вас локацию
                            li Социальный работник помогает заполнить заявку
                            li Ожидаете ответ на заявку в “................. ”
                        button(type='button') Посмотреть список адресов
                    img.img-fluid(src="@img/svgicons/option2.svg" alt="")