section.compensation
    .container-xxl
        .row
            .col-12.col-lg-5.d-flex.align-items-center 
                .compensation-text           
                    h1 Получите компенсацию
                    p În 2010, Guvernul Republicii Moldova a lansat procesul de e-Transformare a guvernării în august 2010 fiind creat Centrul de Guvernare Electronică
                    button(type='button') Оставить заявку
            .col-12.col-lg-7 
                .compensation-image
                    img.img-fluid(src="@img/svgicons/macbook.svg" alt="Macbook Pro")
