section.contact-us 
    .container-xxl
        .row
            .col-12.col-lg-6 
                .option.d-flex.flex-column.flex-sm-row
                    .option-wrapper
                        .title Подайте заявку через социального работникав любой точке Молдовы
                        p Доступно более 1 000 локацийдля подачи заявки
                        button(type='button') Посмотреть список адресов
                    img.img-fluid(src="@img/svgicons/option3.svg" alt="")
            .col-12.col-lg-6 
                .option.option-2.d-flex.flex-column.flex-sm-row
                    .option-wrapper.d-flex.flex-column.justify-content-between
                        .title Свяжитесь с нами, если появились вопросы                       
                        .contacts
                            a.d-flex.align-items-center.contact(href='#') 
                                i.phone
                                span +373 22 36 59 52
                            a.d-flex.align-items-center.contact(href='#') 
                                i.mail
                                span support@gov.md
                    img.img-fluid(src="@img/svgicons/option4.svg" alt="")