section.partners
    .container-xxl
        .row
            .col-12.col-lg-5
                .info
                    .title Партнеры
                    .description În 2010, Guvernul Republicii Moldova a lansat procesul de e-Transformare a guvernării în august 2010 fiind creat Centrul de Guvernare Electronică.
            .col-12.col-lg-7
                .images.d-flex.justify-content-between.d-md-block 
                    img.img-fluid(src="@img/svgicons/ue.svg" alt="UE")
                    img.img-fluid(src="@img/svgicons/united.svg" alt="UNPD")
                    img.img-fluid(src="@img/svgicons/slovak.svg" alt="Slovak")