section.questions 
    .container-xxl
        .row
            .col-12
                .title Ответы на вопросы
                .questions-wrapper
                    .question
                        .question-btn.first
                            a.btn.btn-primary.d-flex.align-items-center(data-bs-toggle='collapse' href='#collapseExample' role='button' aria-expanded='false' aria-controls='collapseExample')
                                span.icon.d-flex.justify-content-center.align-items-center 
                                    i.icon-arrow
                                span Ce este Buletin de identitate electronic?
                        #collapseExample.collapse
                            .card.card-body
                                | Some placeholder content for the collapse component.
                    .question
                        .question-btn
                            a.btn.btn-primary.d-flex.align-items-center(data-bs-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='false' aria-controls='collapseExample2')
                                span.icon.d-flex.justify-content-center.align-items-center 
                                    i.icon-arrow
                                span Ce este Buletin de identitate electronic?
                        #collapseExample2.collapse
                            .card.card-body
                                | Some placeholder content for the collapse component.
                    .question
                        .question-btn
                            a.btn.btn-primary.d-flex.align-items-center(data-bs-toggle='collapse' href='#collapseExample3' role='button' aria-expanded='false' aria-controls='collapseExample3')
                                span.icon.d-flex.justify-content-center.align-items-center 
                                    i.icon-arrow
                                span Ce este Buletin de identitate electronic?
                        #collapseExample3.collapse
                            .card.card-body
                                | Some placeholder content for the collapse component.
                    .question
                        .question-btn.last
                            a.btn.btn-primary.d-flex.align-items-center(data-bs-toggle='collapse' href='#collapseExample4' role='button' aria-expanded='false' aria-controls='collapseExample4')
                                span.icon.d-flex.justify-content-center.align-items-center 
                                    i.icon-arrow
                                span Ce este Buletin de identitate electronic?
                        #collapseExample4.collapse
                            .card.card-body
                                | Some placeholder content for the collapse component.