section.text-video
    .container-xxl
        .row
            .col-12.col-lg-5.order-md-2
                .description.d-flex.flex-column.justify-content-center
                    h2 О программе
                    p În 2010, Guvernul Republicii Moldova a lansat procesul de e-Transformare a guvernării în august 2010 fiind creat Centrul de Guvernare Electronică, instituție publică în subordinea Cancelariei de Stat, cu  scopul îmbunătățirii guvernării prin aplicarea intensă a tehnologiilor informaţionale.
            .col-12.col-lg-7.order-md-1
                .video 
                    iframe.responsive-iframe(src='https://www.youtube.com/embed/h40T-SdsFfo' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    .bg
                        .circle
                            i.icon-play
                        .video-title.d-block.d-sm-none Lorem ipsum dolor sit amet consectetur adipisicing.        