footer 
    .container-xxl
        .row
            .col-6 
                .logo
                    a.logo_footer(href="/")
                        img.img-fluid(src='@img/svgicons/logo_footer.svg' alt='Logo footer')
            .col-6
                .phone
                    span Serviciul suport client
                    a.d-flex.align-items-center.justify-content-end.contact(href='#') 
                        i.icon-phone
                        span 022 820 000
            .col-12.col-lg-6
                .pages.d-flex.flex-column.flex-sm-row
                    a.page-link(href='#') Despre portal
                    a.page-link(href='#') Întrebări frecvente
                    a.page-link(href='#') Termeni si conditii
            .col-12.col-lg-6
                .images.d-flex.align-items-center.justify-content-sm-end.justify-content-start
                    img.img-fluid(src='@img/svgicons/frame.svg' alt='')
                    span
                    img.img-fluid.social(src='@img/svgicons/facebook.svg' alt='')
                    img.img-fluid.social(src='@img/svgicons/linkedin.svg' alt='')
                    img.img-fluid.social(src='@img/svgicons/youtube.svg' alt='')
            .col-12.col-lg-6
                .text-start Acest site a fost produs cu suportul financiar al Uniunii Europene, în cadrul proiectului „Abordarea impactului crizei energetice în Republica Moldova”, implementat de Programul Națiunilor Unite pentru Dezvoltare. Conținutul site-ului aparține autorilor și nu reflectă în mod neapărat viziunea Uniunii Europene și a PNUD.
            .col-12.col-lg-6.d-flex.justify-content-start.justify-content-sm-end.align-items-end
                .text-end © Copyright. Agentia de Guvernare Elecronica 2020