@import "./variables/variables";
@import "fonts";
@import "header";
@import "./sections/sections";

* {
  margin: 0;
  padding: 0;
  font-family: $font_regular;
  ul {
    list-style: none;
    margin: 0;
  }
}
